#motivasi {
    background-color: yellow;
}

#zaman {
    color: pink;
}

#now {
    color: lawngreen
}

#video {
    display: block;
    margin: 0 auto;
}

#audio {
    display: block;
    margin: 0 auto;
}